/*Fix For Modal on Apple iPhone*/
 body.modal-open {
    overflow: hidden;
    position:fixed;
    width: 100%;
}

.invoice-person:last-child{
	text-align: left;
}

.task-one-half {
    border: 1px solid;
    padding: 1em;
    height: 170px;
    max-height: 200px;
}
@media (max-width: 767px)
{
	.modal-dialog {
	    min-width: 100%;
	    padding: 0 15px;
	    margin: 25px 0px;
	}
}
.alert.alert-danger.errors{
    display: none;
    background-color: #f2dede;
    color:#000;
    margin: 10px 0px;
}
label.error {
    padding: 15px;
    margin-top: 6px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    width: 100%;
    font-family: "Josefin Sans", sans-serif;
}