@import url("animate.min.css");@import url("bootstrap.min.css");@import url("menu.css");@import url("style.css");@import url("responsive.css");@import url("elegant_font/elegant_font.min.css");@import url("fontello/css/fontello.min.css");@import url("magnific-popup.css");@import url("pop_up.css");.modal-open{padding:0px !important;}
.error{padding:15px;border:1px solid transparent;border-radius:4px;color:#a94442;background-color:#f2dede;border-color:#ebccd1;width:100%;font-family:"Josefin Sans", sans-serif;}
#mail_error{display:none;font-family:"Josefin Sans", sans-serif;}